 <section class="mt-5 row align-items-center">
  <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
    <h1>Welcome to Fermata</h1>
  </div>

  <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
    <a href="/compose/you">
      <button
        type="button"
        class="btn btn-lg btn-outline-dark"
        id="compose-btn">
        Compose
      </button>
    </a>
  </div>

  <div class="container-fluid d-flex ms-2 mt-5">
    <h4>Drafts:</h4>
  </div>
  {{#if draftLetter.length}}
  <div class="container-fluid ms-2 d-flex">
    <ul>
    {{#each draftLetter as |draft|}}
    <li>
      <a href="/sent/{{draft.id}}">
        <p class="draft d-inline" id="draft-item" style="font-family:{{draft.font.style_tag}}"> {{!--maybe get rid of this?--}}
          {{draft.updatedAt}} - To {{draft.recipient_name}}
        </p>
      </a>
      <p class="d-inline small-text mx-2 delete-btn" data="{{draft.id}}">
        delete
      </p>
    </li>
    {{/each}}
    </ul>
  </div>
  {{else}}
  <div>
    <ul>
      <li>
        You can find the letters you saved for later here!
      </li>
    </ul>
  </div>
  {{/if}}

  <div class="container-fluid d-flex ms-2 mt-5">
    <h4>History:</h4>
  </div>
  {{#if sentLetter.length}}
  <div class="container-fluid ms-2 d-flex">
    <ul>
    {{#each sentLetter as |sent|}}
    <li>
      <a href="/sent/{{sent.id}}">
        <p class="history" id="history-item" style="font-family:{{draft.font.style_tag}}">{{!-- maybe get rid of this lol --}}
          {{sent.createdAt}} - To {{sent.recipient_name}}
        </p>
      </a>
    </li>
    {{/each}}
    </ul>
  </div>
  {{else}}
  <div>
    <ul>
      <li>
        You can find the letters you've sent here!
      </li>
    </ul>
  </div>
  {{/if}}
</section>
<script src="/javascript/dashboard.js"></script>