<section class="mt-5 row align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 mt-3">
        <p class="small-text">Sending to:</p>
        <input id="their-name" class="border-0 preview-fields" value={{letter.recipient_name}} placeholder="Their name"></input>
        <input id="their-email" class="border-0" value={{letter.recipient_email}} placeholder="Their email"></input>
        <br/>
        <br/>
        <p class="small-text">As:</p>
        <input id="sign-off" class="border-0" value={{letter.sign_off}} placeholder="Your name"></input>
        <br/>
        <br/>
        <p class="small-text">click to edit</p>
        <p class="small-text">Last updated: {{format_date letter.updatedAt}}</p>
      </div>
    </div>    
    <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
      <h1 id="header">Preview</h1>
    </div>

    <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
      <textarea id="letter-preview" style={{letter.font.style_tag}} class="w-50 vh-75 align-text-top" placeholder="Enter your message here">{{letter.letter_body}}</textarea>
    </div>

    <div class="container-fluid d-flex mt-5 justify-content-around">
      <button
        type="button"
        class="btn btn-lg btn-outline-dark"
        id="save-btn">
        Save
      </button>
      <button
        type="button"
        class="btn btn-lg btn-outline-dark"
        id="send-btn">
        Send
      </button>
    </div>
  </div>
  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center"></div>
  <div class="container-fluid d-flex mt-5 justify-content-evenly"></div>
  <div id="player" style="max-height: 0px; max-width: 0px;"></div>
</section>
<script src="http://www.youtube.com/player_api"></script>
<script src="/javascript/draft.js"></script>