<section class="mt-5 row align-items-center">
    <div class="container-fluid">
    <div class="row">
        <div class="col-2 mt-3">
        <input id="their-name" value={{their_name}} readonly></input>
        <input id="their-email" value={{their_email}} readonly></input>
        <input id="sign-off" value={{sign_off}} readonly></input>
        <!--your email (not as an input field, retrieved from database) maybe??-->
        <a href="#"><p class="small-text">click to edit</p></a>
        </div>
    </div>    
    <div class="container-fluid d-flex mt-5 justify-content-center align-items-center">
        <h1 id="header">Preview</h1>
    </div>
    <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
        <textarea name="" style={{style_tag}}id="letter-preview" readonly> 
        {{letter_body}}
        </textarea>
    </div>
    </div>
    {{!-- <div class="container-fluid d-flex mt-5 justify-content-around align-items-center"></div> --}}
    <div class="container-fluid d-flex mt-5 justify-content-evenly">
    <div class="now-playing">Now Playing:</div>
    <div>
        <span id="artist-select">Arthur Rubenstein - </span>
        <span id="song-select">Nocturnes, Op. 9: No. 2 in E-Flat Major</span>
    </div>
    </div>
</section>
<script src="/javascript/compose-letter/history.js"></script>