<section class="mt-5 row align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 mt-3">
        <p class="small-text d-inline">Sent to: {{letter.recipient_name}}</p>
        <p class="small-text d-inline mx-5">Sent from: {{letter.sign_off}}</p>
        <p class="small-text">On: {{format_date letter.updatedAt}}</p>
      </div>
    </div>    
    <div class="container-fluid d-flex mt-5 justify-content-around align-items-center">
      <textarea name="" id="letter-preview" style={{letter.font.style_tag}} class="w-50 vh-75 align-text-top"> 
      {{letter.letter_body}}
      </textarea>
    </div>
  </div>
  <div class="container-fluid d-flex mt-5 justify-content-around align-items-center"></div>
  <div class="container-fluid d-flex mt-5 justify-content-evenly"></div>
  <div id="player" style="max-height: 0px; max-width: 0px;"></div>
</section>
<script src="http://www.youtube.com/player_api"></script>
<script src="/javascript/sent.js"></script>